<a href="https://colab.research.google.com/github/soiqualang/colab/blob/master/SQLite_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQLite 3

https://phocode.com/blog/2016/03/21/python-co-so-du-lieu-sqlite/

https://datatofish.com/create-database-python-using-sqlite3/

```sql
conn = sqlite3.connect('TestDB.db')  # You can create a new database by changing the name within the quotes
c = conn.cursor() # The database will be saved in the location where your 'py' file is saved

# Create table - CLIENTS
c.execute('''CREATE TABLE CLIENTS
             ([generated_id] INTEGER PRIMARY KEY,[Client_Name] text, [Country_ID] integer, [Date] date)''')
```

## Get dict from query

https://stackoverflow.com/questions/3300464/how-can-i-get-dict-from-sqlite-query

```sql
import sqlite3

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

con = sqlite3.connect(":memory:")
con.row_factory = dict_factory
cur = con.cursor()
cur.execute("select 1 as a")
print cur.fetchone()["a"]
```

## Can't connect remote SQLite

https://stackoverflow.com/questions/2318315/connect-to-a-remote-sqlite3-database-with-python

In [0]:
import sqlite3

In [5]:
#Make DB
!wget 'http://dev.dothanhlong.org/download/db1.db'
conn=sqlite3.connect('db1.db')
#c = conn.cursor()

--2019-06-04 04:10:41--  http://dev.dothanhlong.org/download/db1.db
Resolving dev.dothanhlong.org (dev.dothanhlong.org)... 139.99.46.176
Connecting to dev.dothanhlong.org (dev.dothanhlong.org)|139.99.46.176|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3072 (3.0K)
Saving to: ‘db1.db’

db1.db              100%[===================>]   3.00K  --.-KB/s    in 0s

2019-06-04 04:10:41 (373 MB/s) - ‘db1.db’ saved [3072/3072]

In [0]:
#make funtion by soiqualang

def insert_table(table,field,value,conn):
    with conn:
        cur = conn.cursor()
        strfield=""
        strvalue=""
        for i in range(0,len(field)):
            strfield+=field[i]+", "
            strvalue+="'"+value[i]+"', "
        strfield+=field[i]
        strvalue+="'"+value[i]+"'"
        sql_add_news="INSERT INTO "+table+"("+strfield+") VALUES ("+strvalue+")"
        #print(sql_add_news)
        cur.execute(sql_add_news)

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d
        
def getElement(tbl_table,element,where,id,conn):
    with conn:
        cur = conn.cursor()
        id=str(id)
        #sql='SELECT SQLITE_VERSION()'
        sql="Select "+element+" from "+tbl_table+" where "+where+"='"+id+"'"
        #print(sql)
        cur.execute(sql)
        data = cur.fetchone()
        #data=cur.fetchall()
        return data[element]

def table_to_array1(table,conn):
    with conn:
        conn.row_factory = dict_factory
        cur = conn.cursor()
        sql="SELECT * from "+table
        #print(sql)
        cur.execute(sql)
        rows = cur.fetchall()        
        '''
        for row in rows:
            print ("%s %s %s" % (row["id"], row["ques"], row["ans"]))
        '''
        return rows

In [0]:
field=['ques','ans','info']
value=['qqqq1','aaaaa1','iiiii1']

insert_table('qa',field,value,conn)

In [17]:
ans=getElement('qa','ans','id',1,conn)
print(ans)

aaaaa2

In [18]:
rows=table_to_array1('qa',conn)
#print(rows)

for row in rows:
    print(row['id'],row['ques'],row['ans'])

1 qqqq2 aaaaa2
2 qqqq1 aaaaa1